.vscode
*.iml
out/
*.ipr
*.iws
*.gpg
classpath.txt
version.properties
modules/openapi-generator-gradle-plugin/bin/
!modules/openapi-generator-cli/src/main/resources/version.properties
.project
.classpath
lib/*
build/*
generated-files/*
generated-sources/*
generated-code/*
*.swp
*.swo
target
.idea
.lib
atlassian-ide-plugin.xml
.DS_Store
packages/
.pub
.packages
.vagrant/
.vscode/
**/.vs

.settings

*.mustache~
*.java~
*.pm~
*.xml~
*.t~

/target
/generated-files
test-output/
nbactions.xml
*.pyc
